// Tipografía
$fuente_principal: 'Montserrat', sans-serif;

// Colores

$verdeazul: #4CB8B3;
$verde: green;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$gris: #808080;
$negro: #000000;
$blanco: #FFFFFF;
$azul: #135796;

$noche: #000B29;
$roja: #D70026;
$perla: #F8F5F2;
$destello: #EDB83D;


// Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

$noche-tr: #000b2933;
$roja-tr: #d700274f;

// Imagen Hover
$image-bg: #2266a5 !default;
$figcaption-bg: #135796 !default;
$figcaption-padding: 30px !default;
$text-color: #ffffff !default;
$border-color: #ffffff !default;
$border-margin: 5px !default;
$border-width: 4px !default;
$transition-duration: 0.35s !default;
$shift-distance: 10px !default;