@use 'base/variables' as v;
@use 'base/mixins' as m;

.calendario {
    position: relative;
    background-image: url(../img/grande/atardecer-2.jpg);
    height: 100rem; // Tamaño del alto
    background-size: cover; // Utiliza todo el espacio disponible
    background-repeat: no-repeat; // no se repta
    background-position: center center; // Centra imagen sin importar el tamaño horizontal(L,R,C) y vertical (T,B,C) sin el cover
    background-attachment: fixed;
    @include m.desktop {
        background-color: v.$perla;
        height: 80rem;
    }

/*     

    widows: 100%;
    height: calc(108vh - 5rem);
    
    
    max-height: 80rem;
    min-height: 50rem;
    overflow: hidden; */
}

.gCalFlow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(38, 50, 81);
    background: linear-gradient(270deg, rgba(38, 50, 81, 0.4) 0%, rgba(0, 11, 41, 0.2) 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    @include m.desktop {
        @include m.grid(2, 1, 0rem);
        margin: 0;
        background: v.$perla;
    }

    .calendario__texto {
        text-align: center;
        padding: 2rem 1rem;
        margin: 0 2rem;
        box-sizing: border-box;
        color: v.$perla;
        background: rgba(v.$destello, .7);
        transition: .5s;
        &:hover {
            background: rgba(215, 0, 38,0.7);
            @include m.desktop {
                background: url(../img/grande/atardecer-2.jpg);
                background-size: cover; // Utiliza todo el espacio disponible
                background-repeat: no-repeat; // no se repta
                background-position: left center; // Centra imagen sin importar el tamaño horizontal(L,R,C) y vertical (T,B,C) sin el cover
                //background: rgba(v.$roja, .7);

                p {
                    font-size: 1.8rem;
                }
            }
        }
        h2 {
            margin: 0;
            padding: 0;
            font-size: 3rem;
            text-transform: uppercase;
            a {
                color: v.$noche;
            }
        }
        p {
            margin: 1rem, 0 0;
            padding: 0;
            font-size: 1.5rem;
        }
        h2, p {
        color: v.$perla; 
        }

        @include m.desktop {
            margin: 0;
            background-image: url(../img/grande/atardecer-2.jpg); // ../img/grande/mapa-mundo.jpg
            height: 82rem; // Tamaño del alto
            background-size: cover; // Utiliza todo el espacio disponible
            background-repeat: no-repeat; // no se repta
            background-position: center center; // Centra imagen sin importar el tamaño horizontal(L,R,C) y vertical (T,B,C) sin el cover
        }
    }
    .calendario__eventos {
        text-align: justify;
        padding: 0;
        font-family: v.$fuente_calendario;

        h2, h3, h4, p, a {
        color: v.$perla; 
        }
        h3 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
        }
        ul {
            padding: 1rem 2rem;
            margin: 1rem 0;
            @include m.grid(auto, auto, 0rem);
            li {
                @include m.grid(auto, auto, 0);
                grid-template-columns: 20% 80%;
                border: 1px solid v.$gris;
                .tiempo {
                    padding: 1rem;
                    background: darken(v.$gris, 22%); // Oscurecer un color;
                    box-sizing: border-box;
                    @include m.grid(auto, auto, 2rem);
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    justify-items: end;
                    h2 {
                        font-size: 4rem;
                        text-align: center;
                        line-height: .7;
                        span {
                            font-size: 3rem;
                            font-weight: 400;
                        }
                    }
                    h3{
                        font-size: 2.5rem;
                        text-align: center;
                        line-height: .8;
                        span {
                            font-size: 2rem;
                            font-weight: 400;
                        }
                    }
                }
                .detalles {
                    padding: 1rem;
                    background: v.$perla;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    h2, h3, h4, p, a {
                        color: v.$noche;
                        margin: .5rem;
                        }
                    h3 {
                        font-weight: 700;
                    }
                    h4 {
                        color: v.$roja;
                    }
                    p {
                        font-size: calc(1.2rem + .5vw);
                        // width: 100%;
                        // height: 10vh;
                        //word-break:break-all;
                        @include m.tablet {
                            font-size: calc(1.5rem + .5vw);
                        }
                    }
                }

                
            }
            @include m.desktop {
                    margin: 0;
                    padding: 0;
                }
            
        }

        
    }
}