@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$perla;
    h1 {
        //margin-bottom: 2rem;
        font-size: 2rem;
        color: v.$noche;
        text-align: center;
        text-transform: uppercase;

        @include m.tablet {
            text-align: left;
            margin: 0;
        }
    }
/*     .redes-up {
        margin: 0;

        @include m.tablet {
            background-color: v.$noche;
            color: v.$perla;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                font-size: 1.6rem;
                text-transform: uppercase;
                margin: 0;
            }
            div {
                text-align: right;
                margin: 0;
            }
        }  
    }
    .redes-dow {
        text-align: center;
        @include m.tablet {
            text-indent: -666em;
            overflow:hidden;
        }
    } */

    .contenido-header {
        padding: 0.6rem;
        text-align: center;
        .logo {
            display: inline-block;
            img {
                width: 7rem;
                margin: 0;
                @include m.tablet {
                    margin-right: 1rem;
                }
            }

            @include m.tablet {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }
    }
}

.navegacion-principal {
    @include m.tablet {
        display: flex;
        gap: 2rem;
    }
    a {
        display: block;
        text-align: center;
        color: v.$noche;
        font-size: 2.4rem;
        margin-bottom: 1.3rem;
        @include m.tablet {
            margin: 0;
        }

        &:hover {
            color: v.$roja;
        }
    }
    
}