@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$noche;
    h1 {
        //margin-bottom: 2rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: v.$perla;
        text-align: center;
        text-transform: uppercase;

        @include m.tablet {
            text-align: left;
            font-size: 1.6rem;
            margin: 0;
        }
    }

    .contenido-header {
        padding: 0.6rem;
        text-align: center;
        .logo {
            display: inline-block;
            img {
                width: 5rem;
                margin: 0;
                @include m.tablet {
                    width: 6rem;
                    margin-right: 1rem;
                }
            }

            @include m.tablet {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }
    }
}

.navegacion-principal {
    @include m.tablet {
        display: flex;
        gap: 2rem;
    }
    a {
        display: block;
        text-align: center;
        color: v.$perla;
        font-size: 2.2rem;
        margin-bottom: 1.3rem;
        @include m.tablet {
            margin: 0;
        }

        &:hover {
            color: v.$roja;
            font-weight: 500;
        }
    }
    
}